In [1]:
import pandas as pd
import numpy as np

In [2]:
#import file from external survey provider
xlsx=pd.ExcelFile('file.xlsx')
data=pd.read_excel(xlsx,'Data')

In [3]:
#count number of completed surveys
data['uuid'].count()

110

In [4]:
#clean data
data1 = data.apply(lambda x: x.str.strip() if x.dtype == "object" else x)

In [5]:
#define columns
col_Q1=[col for col in data if col.endswith('_I')]
col_Q2=[col for col in data if col.endswith('_NumEmp')]
col_Q3=[col for col in data if col.endswith('_F')]
col_Q4=[col for col in data if col.endswith('_R')]
col_Q5=[col for col in data if col.startswith('Q5r')]
col_Q6=[col for col in data if col.startswith('Q6r')]
col_Q7=[col for col in data if col.endswith('_Recent_Eval')]
col_Q8=[col for col in data if col.startswith('Q8r')]
col_Q9=[col for col in data if col.startswith('Q9r')]
col_Q10=[col for col in data if col.startswith('Q10r')]
col_Q11=[col for col in data if col.endswith('_AnnRev')]
col_Q12=[col for col in data if col.startswith('Q12r')]
col_Q13=[col for col in data if col.startswith('Q13r')]
col_Q14=[col for col in data if col.startswith('Q14r')]
col_Q15=[col for col in data if col.startswith('Q15r')]
col_Q16=[col for col in data if col.startswith('Q16r')]
col_Q17=[col for col in data if col.startswith('Q17r')]
col_Q18=[col for col in data if col.startswith('Q18r')]
col_Q19=[col for col in data if col.startswith('Q19r')]
col_Q20=[col for col in data if col.endswith('_Allocation')]
col_Q21=[col for col in data if col.endswith('_COVIDImpact')]
col_Q22=[col for col in data if col.endswith('_Recovery')]
col_Q23=[col for col in data if col.startswith('Q23r')]
col_Q24=[col for col in data if col.startswith('Q24r')]
col_Q25=[col for col in data if col.endswith('_Strategy')]
col_Q26=[col for col in data if col.startswith('Q26r')]
col_Q27=[col for col in data if col.startswith('Q27r')]
col_Q28=[col for col in data if col.startswith('Q28r')]
col_Q29=[col for col in data if col.startswith('Q29r')]
col_Q30=[col for col in data if col.endswith('_AddedServices')]
col_Q31=[col for col in data if col.startswith('Q31r')]
col_Q32=[col for col in data if col.startswith('Q32r')]
col_Q33=[col for col in data if col.startswith('Q33r')]

#create lists to add column for regions base don state columns
NE=['Maine', 'Massachusetts', 'Rhode Island', 'Connecticut', 'New Hampshire', 'Vermont', 'New York', 'Pennsylvania', 'New Jersey', 'Delaware', 'Maryland', 'District of Columbia']
SE=['West Virginia', 'Virginia', 'Kentucky', 'Tennessee', 'North Carolina', 'South Carolina', 'Georgia', 'Alabama', 'Mississippi', 'Arkansas', 'Louisiana', 'Florida']
MW=['Ohio', 'Indiana', 'Michigan', 'Illinois', 'Missouri', 'Wisconsin', 'Minnesota', 'Iowa', 'Kansas', 'Nebraska', 'South Dakota', 'North Dakota']
SW=['Texas', 'Oklahoma', 'New Mexico', 'Arizona']
West=['Colorado', 'Wyoming', 'Montana', 'Idaho', 'Washington', 'Oregon', 'Utah', 'Nevada', 'California', 'Alaska', 'Hawaii']
regions= [NE,SE,MW,SW,West]

#create lists to change string to integers for analysis
budget = {'&lt; $100K':100000,'$100k - $500k':300000,'$500K - $1MM':750000,'$1MM - $5MM':3000000,'&gt; $5MM':5000000}
spend={'Decrease more than 25%':-0.25,'Decrease 10 – 25%':-0.175,'Decrease 1 – 9%':-0.05,'Stay the same':0,'Increase 1 – 9%':0.05,'Increase 10 – 25%':0.175,'Increase more than 25%':0.25}

In [6]:
#create table for each survey question response + rename
Q1=data.melt(id_vars=['uuid'],value_vars=col_Q1,var_name='QuestionID',value_name='Response')
Q1['QuestionNumber']=Q1['QuestionID'].str[:2]

Q2=data.melt(id_vars=['uuid'],value_vars=col_Q2,var_name='QuestionID',value_name='Response')
Q2['QuestionNumber']=Q2['QuestionID'].str[:2]

Q3=data.melt(id_vars=['uuid'],value_vars=col_Q3,var_name='QuestionID',value_name='Response')
Q3['QuestionNumber']=Q3['QuestionID'].str[:2]

Q4=data.melt(id_vars=['uuid'],value_vars=col_Q4,var_name='QuestionID',value_name='Response')
Q4['QuestionNumber']=Q4['QuestionID'].str[:2]

Q5=data.melt(id_vars=['uuid'],value_vars=col_Q5,var_name='QuestionID',value_name='Response')
Q5['QuestionNumber']=Q5['QuestionID'].str[:2]

Q6=data.melt(id_vars=['uuid'],value_vars=col_Q6,var_name='QuestionID',value_name='Response')
Q6['QuestionNumber']=Q6['QuestionID'].str[:2]

Q7=data.melt(id_vars=['uuid'],value_vars=col_Q7,var_name='QuestionID',value_name='Response')
Q7['QuestionNumber']=Q7['QuestionID'].str[:2]

Q8=data.melt(id_vars=['uuid'],value_vars=col_Q8,var_name='QuestionID',value_name='Response')
Q8['QuestionNumber']=Q8['QuestionID'].str[:2]

Q9=data.melt(id_vars=['uuid'],value_vars=col_Q9,var_name='QuestionID',value_name='Response')
Q9['QuestionNumber']=Q9['QuestionID'].str[:2]

Q10=data.melt(id_vars=['uuid'],value_vars=col_Q10,var_name='QuestionID',value_name='Response')
Q10['QuestionNumber']=Q10['QuestionID'].str[:3]
#add column for region for analysis in tableau
cond=[Q10['Response'].isin(NE),Q10['Response'].isin(SE),Q10['Response'].isin(MW),Q10['Response'].isin(SW),Q10['Response'].isin(West)]
values=['Northeast','Southeast','Midwest','Southwest','West']
Q10['Region']=np.select(cond,values)

Q11=data.melt(id_vars=['uuid'],value_vars=col_Q11,var_name='QuestionID',value_name='Response')
Q11['QuestionNumber']=Q11['QuestionID'].str[:3]

Q12=data.melt(id_vars=['uuid'],value_vars=col_Q12,var_name='QuestionID',value_name='Response')
Q12['QuestionNumber']=Q12['QuestionID'].str[:3]

Q13=data.melt(id_vars=['uuid'],value_vars=col_Q13,var_name='QuestionID',value_name='Response')
Q13['QuestionNumber']=Q13['QuestionID'].str[:3]

Q14=data.melt(id_vars=['uuid'],value_vars=col_Q14,var_name='QuestionID',value_name='Response')
Q14['QuestionNumber']=Q14['QuestionID'].str[:3]

Q15=data.melt(id_vars=['uuid'],value_vars=col_Q15,var_name='QuestionID',value_name='Response')
Q15['QuestionNumber']=Q15['QuestionID'].str[:3]

Q16=data.melt(id_vars=['uuid'],value_vars=col_Q16,var_name='QuestionID',value_name='Response')
Q16['QuestionNumber']=Q16['QuestionID'].str[:3]

Q17=data.melt(id_vars=['uuid'],value_vars=col_Q17,var_name='QuestionID',value_name='Response')
Q17['QuestionNumber']=Q17['QuestionID'].str[:3]

Q18=data.melt(id_vars=['uuid'],value_vars=col_Q18,var_name='QuestionID',value_name='Response')
Q18['QuestionNumber']=Q18['QuestionID'].str[:3]

Q19=data.melt(id_vars=['uuid'],value_vars=col_Q19,var_name='QuestionID',value_name='Response')
Q19['QuestionNumber']=Q19['QuestionID'].str[:3]
#transform budget string to integer for analysis in tableau
Q19['Budget']=Q19['Response'].map(budget)

Q20=data.melt(id_vars=['uuid'],value_vars=col_Q20,var_name='QuestionID',value_name='Response')
Q20['QuestionNumber']=Q20['QuestionID'].str[:3]

Q21=data.melt(id_vars=['uuid'],value_vars=col_Q21,var_name='QuestionID',value_name='Response')
Q21['QuestionNumber']=Q21['QuestionID'].str[:3]

Q22=data.melt(id_vars=['uuid'],value_vars=col_Q22,var_name='QuestionID',value_name='Response')
Q22['QuestionNumber']=Q22['QuestionID'].str[:3]

Q23=data.melt(id_vars=['uuid'],value_vars=col_Q23,var_name='QuestionID',value_name='Response')
Q23['QuestionNumber']=Q23['QuestionID'].str[:3]
#transform spend string to integer for analysis in tableau
Q23['Change in Spend']=Q23['Response'].map(spend)

Q24=data.melt(id_vars=['uuid'],value_vars=col_Q24,var_name='QuestionID',value_name='Response')
Q24['QuestionNumber']=Q24['QuestionID'].str[:3]
#transform spend string to integer for analysis in tableau
Q24['Change in Spend']=Q24['Response'].map(spend)

Q25=data.melt(id_vars=['uuid'],value_vars=col_Q25,var_name='QuestionID',value_name='Response')
Q25['QuestionNumber']=Q25['QuestionID'].str[:3]

Q26=data.melt(id_vars=['uuid'],value_vars=col_Q26,var_name='QuestionID',value_name='Response')
Q26['QuestionNumber']=Q26['QuestionID'].str[:3]

Q27=data.melt(id_vars=['uuid'],value_vars=col_Q27,var_name='QuestionID',value_name='Response')
Q27['QuestionNumber']=Q27['QuestionID'].str[:3]

Q28=data.melt(id_vars=['uuid'],value_vars=col_Q28,var_name='QuestionID',value_name='Response')
Q28['QuestionNumber']=Q28['QuestionID'].str[:3]

Q29=data.melt(id_vars=['uuid'],value_vars=col_Q29,var_name='QuestionID',value_name='Response')
Q29['QuestionNumber']=Q29['QuestionID'].str[:3]

Q30=data.melt(id_vars=['uuid'],value_vars=col_Q30,var_name='QuestionID',value_name='Response')
Q30['QuestionNumber']=Q30['QuestionID'].str[:3]

Q31=data.melt(id_vars=['uuid'],value_vars=col_Q31,var_name='QuestionID',value_name='Response')
Q31['QuestionNumber']=Q31['QuestionID'].str[:3]
Q31['QuestionID2']=Q31['QuestionID'].str.split('_').str[2]
#substring capture
Q31['Year']=Q31['QuestionID'].str.split('_').str[1]
Q31['Year']=Q31['Year'].str[-4:]

Q32=data.melt(id_vars=['uuid'],value_vars=col_Q32,var_name='QuestionID',value_name='Response')
Q32['QuestionNumber']=Q32['QuestionID'].str[:3]

Q33=data.melt(id_vars=['uuid'],value_vars=col_Q33,var_name='QuestionID',value_name='Response')
Q33['QuestionNumber']=Q33['QuestionID'].str[:3]

In [7]:
writer=pd.ExcelWriter('file.xlsx', engine='xlsxwriter')

In [8]:
#export all tables to an excel doc
Q1.to_excel(writer, sheet_name='Q1',index=False)
Q2.to_excel(writer, sheet_name='Q2',index=False)
Q3.to_excel(writer, sheet_name='Q3',index=False)
Q4.to_excel(writer, sheet_name='Q4',index=False)
Q5.to_excel(writer, sheet_name='Q5',index=False)
Q6.to_excel(writer, sheet_name='Q6',index=False)
Q7.to_excel(writer, sheet_name='Q7',index=False)
Q8.to_excel(writer, sheet_name='Q8',index=False)
Q9.to_excel(writer, sheet_name='Q9',index=False)
Q10.to_excel(writer, sheet_name='Q10',index=False)
Q11.to_excel(writer, sheet_name='Q11',index=False)
Q12.to_excel(writer, sheet_name='Q12',index=False)
Q13.to_excel(writer, sheet_name='Q13',index=False)
Q14.to_excel(writer, sheet_name='Q14',index=False)
Q15.to_excel(writer, sheet_name='Q15',index=False)
Q16.to_excel(writer, sheet_name='Q16',index=False)
Q17.to_excel(writer, sheet_name='Q17',index=False)
Q18.to_excel(writer, sheet_name='Q18',index=False)
Q19.to_excel(writer, sheet_name='Q19',index=False)
Q20.to_excel(writer, sheet_name='Q20',index=False)
Q21.to_excel(writer, sheet_name='Q21',index=False)
Q22.to_excel(writer, sheet_name='Q22',index=False)
Q23.to_excel(writer, sheet_name='Q23',index=False)
Q24.to_excel(writer, sheet_name='Q24',index=False)
Q25.to_excel(writer, sheet_name='Q25',index=False)
Q26.to_excel(writer, sheet_name='Q26',index=False)
Q27.to_excel(writer, sheet_name='Q27',index=False)
Q28.to_excel(writer, sheet_name='Q28',index=False)
Q29.to_excel(writer, sheet_name='Q29',index=False)
Q30.to_excel(writer, sheet_name='Q30',index=False)
Q31.to_excel(writer, sheet_name='Q31',index=False)
Q32.to_excel(writer, sheet_name='Q32',index=False)
Q33.to_excel(writer, sheet_name='Q33',index=False)

In [9]:
writer.save()